In [1]:
l=[1,2,3,4,5]

In [2]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
    return l1

In [3]:
test(l)

[1, 4, 9, 16, 25]

In [5]:
def sq(x):
    return x**2 #extranal function

In [7]:
list(map(sq,l))   #map the sq function Map function is used to do mapping to each values or iterables. map is used simple function 
#this is example crete by extrnal function we can also do with lambda fuction.

[1, 4, 9, 16, 25]

In [8]:
list(map(lambda x: x**2 ,l)) #using lambda fuction

[1, 4, 9, 16, 25]

In [9]:
l1=[1,2,3,4,5] # we want addition of values of list as indexing wise and gives their outcome
l2=[6,7,8,9,10]
list(map(lambda x,y:x+y,l1,l2))

[7, 9, 11, 13, 15]

In [10]:
#instead using lambda function we use simple/extrnal function
def add(x,y):
    return x+y

In [11]:
 list(map(add,l1,l2))#mapper is used only that  what type of function and itreablle you passed  by their function and itreable it gives outcomes.

[7, 9, 11, 13, 15]

In [12]:
s="sarthak"

In [13]:
list(map(lambda s:s.upper() ,s))

['S', 'A', 'R', 'T', 'H', 'A', 'K']

In [1]:
#reduce is working on itreable but by default it is not directly available we have to import them from libray.
from functools import reduce

In [2]:
l=[1,2,3,4,5]

In [3]:
reduce(lambda x,y:x+y,l) #fuction may or may not be extrnal or lambda. reduce helps in reduce number of elemenet

15

In [4]:
reduce(lambda x,y,z:x+y+z,l) #Third parameter does not include in reduce

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [5]:
reduce(lambda x,y:x+y,[])

TypeError: reduce() of empty iterable with no initial value

In [7]:
reduce(lambda x,y:x+y,[1]) #it is exceptional case one data has pass its allows but has only two argument

1

In [9]:
reduce(lambda x,y: x*y,l)

120

In [10]:
l

[1, 2, 3, 4, 5]

In [11]:
reduce(lambda x,y:x if x>y else y ,l)

5

In [18]:
l

[1, 2, 3, 4, 5]

In [13]:
#map is used map #reduce is used to collapse

In [20]:
list(filter(lambda x: x%2 == 0 ,l))

[2, 4]

In [22]:
list(filter(lambda x: x%2 !=0 ,l))

[1, 3, 5]

In [24]:
l1=[2,3,4,-4,-5,-7,56]

In [26]:
list(filter(lambda x: x<2  ,l1))

[-4, -5, -7]

In [27]:
l2=["sart","sarthak","ghodmare","ghod","chya"]

In [29]:
list(filter(lambda x: len(x) <6,l2))

['sart', 'ghod', 'chya']